In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
df = pd.read_csv('Z:/4. LearningDT/Streamlit/Getting-Started-with-Streamlit-for-Data-Science-main/penguin_app/penguins.csv')

In [65]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [66]:
# doing some off the bat eda
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [67]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [68]:
df.dropna(inplace = True)

In [69]:
output = df['species']

In [70]:
# dropping the 'year' column 
df.drop(columns = 'year', inplace = True)

In [71]:
features = df.drop(columns = 'species')

In [72]:
features.head()

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Torgersen,39.1,18.7,181.0,3750.0,male
1,Torgersen,39.5,17.4,186.0,3800.0,female
2,Torgersen,40.3,18.0,195.0,3250.0,female
4,Torgersen,36.7,19.3,193.0,3450.0,female
5,Torgersen,39.3,20.6,190.0,3650.0,male

In [73]:
features['sex'] = pd.get_dummies(features['sex'],drop_first = True)

In [74]:
features['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [75]:
from sklearn.preprocessing import LabelEncoder
features['island'] = LabelEncoder().fit_transform(features['island'])

In [77]:
features['island']

0      2
1      2
2      2
4      2
5      2
      ..
339    1
340    1
341    1
342    1
343    1
Name: island, Length: 333, dtype: int32

In [83]:
output = pd.factorize(output)[0]

In [84]:
# performing a classification model 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [85]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import auc
from sklearn.metrics import roc_auc_score

In [90]:
lr = LogisticRegression(max_iter = 1000)
rf = RandomForestClassifier()

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
xtrain, xtest, ytrain, ytest = train_test_split(features, output, test_size = 0.2, random_state = 42)

In [93]:
# train the models
lr.fit(xtrain, ytrain)
rf.fit(xtrain, ytrain)

RandomForestClassifier()

In [97]:
accuracy_score(ytest, lr.predict(xtest))

0.9850746268656716

In [98]:
accuracy_score(ytest, rf.predict(xtest))

1.0

In [105]:
np.argmax(lr.predict_proba(xtest), axis = 1)

array([0, 2, 0, 1, 0, 2, 2, 1, 1, 1, 0, 0, 2, 0, 2, 0, 0, 1, 0, 2, 0, 0,
       2, 1, 0, 0, 1, 2, 1, 2, 1, 2, 0, 0, 2, 2, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 2, 0, 0, 2, 0, 1, 1, 0, 0, 1, 2, 0, 1, 1, 2, 2, 2, 0, 0, 2,
       0], dtype=int64)

In [102]:
ytest

array([0, 2, 0, 1, 0, 2, 2, 1, 1, 1, 0, 0, 2, 0, 2, 0, 0, 1, 0, 2, 0, 0,
       2, 1, 0, 0, 1, 2, 1, 2, 1, 2, 0, 0, 2, 2, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 2, 0, 0, 2, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 2, 2, 2, 0, 0, 2,
       0], dtype=int64)

In [108]:
# need to save the model and the unique target classes to remap the predicted output to the species label
import pickle

In [113]:
with open('randomForestPenguinClassifier.pkl', 'wb') as file:
    pickle.dump(rf, file)

In [116]:
with open('randomForestPenguinClassifier.pkl', 'rb') as file:
    newRF = pickle.load(file)

In [123]:
pd.factorize(df['species'])[1]

Index(['Adelie', 'Gentoo', 'Chinstrap'], dtype='object')

In [130]:
with open('output.pkl', 'wb') as file:
    pickle.dump(df['species'].unique(), file)
file.close()

In [132]:
features.min()

island                  0.0
bill_length_mm         32.1
bill_depth_mm          13.1
flipper_length_mm     172.0
body_mass_g          2700.0
sex                     0.0
dtype: float64

In [133]:
features.max()

island                  2.0
bill_length_mm         59.6
bill_depth_mm          21.5
flipper_length_mm     231.0
body_mass_g          6300.0
sex                     1.0
dtype: float64

In [134]:
import streamlit as st

In [144]:
a = np.empty(shape = (3,3))

In [163]:
penguin_gender = 1. if test == 'male' else 0.

In [166]:
features['sex'].dtype

dtype('uint8')

In [147]:
df['sex'].map({'male' : 1, 'female' : 0})

0      1
1      0
2      0
4      0
5      1
      ..
339    1
340    0
341    1
342    1
343    0
Name: sex, Length: 333, dtype: int64

In [153]:
test = 'male'
gender_function = lambda x: (1 if x == 'male' else 0)

In [152]:
gender_function(test)

0

In [156]:
penguin_gender = 1 if test == 'male' else 0

In [161]:
df['island']

0      Torgersen
1      Torgersen
2      Torgersen
4      Torgersen
5      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 333, dtype: object

In [170]:
xtrain.head()

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
232,0,49.1,14.5,212.0,4625.0,0
84,1,37.3,17.8,191.0,3350.0,0
306,1,40.9,16.6,187.0,3200.0,0
22,0,35.9,19.2,189.0,3800.0,0
29,0,40.5,18.9,180.0,3950.0,1

In [178]:
rf.predict(xtrain)

array([1, 0, 2, 0, 0, 1, 2, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 2, 1, 0, 2, 1,
       1, 1, 2, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 2, 0, 1, 0, 1, 1, 0, 1, 0,
       2, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 2, 0, 0, 2, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 2, 0, 0, 1, 0, 2, 1, 2, 1, 2, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 1, 2, 0, 2, 2, 0,
       0, 0, 0, 2, 0, 1, 2, 0, 1, 1, 0, 2, 0, 2, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 2, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 2, 0, 1, 0, 2, 2,
       2, 0, 1, 2, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 2, 0, 2, 1, 2, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 2, 2,
       1, 2, 1, 1, 1, 2, 1, 2, 2, 2, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 2, 1, 2, 0, 2, 1, 0, 0, 1, 1, 2, 1, 1, 0,
       0, 1, 1, 0, 1, 2, 1, 2, 1, 2, 1, 0, 1, 0, 0, 1, 0, 2, 0, 1, 0, 0,
       2, 0], dtype=int64)

In [181]:
xdata = np.array([0., 49.1, 14.5, 212, 4625, 0.]).reshape(1, -1)

In [182]:
rf.predict(xdata)

C:\Users\zobekenobe\anaconda3\envs\datasci\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [183]:
df['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [192]:
rf.predict(xtrain.values[0])

C:\Users\zobekenobe\anaconda3\envs\datasci\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[   0.    49.1   14.5  212.  4625.     0. ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [206]:
x = np.array([xtrain.values[10]])

In [207]:
rf.predict(x)

C:\Users\zobekenobe\anaconda3\envs\datasci\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [209]:
xtrain.shape

(266, 6)

In [212]:
sortthis = pd.factorize(df['species'])[1]

In [219]:
sortthis.values[np.argmax(1)]

'Adelie'

In [222]:
sortthis.values[[0]]

array(['Adelie'], dtype=object)

In [227]:
a = [1]

In [230]:
sortthis.values[a[-1]]

'Gentoo'